# Local direnv configuration for Bad Usernames API.
source_up

source_env_if_exists .envrc.local
dotenv_if_exists .env
dotenv_if_exists .env.local

# Uncomment or override as needed.
# export BAD_USERNAMES_DATASET_PATH=dev/sample-bad-usernames.json
